.faq {
	&__item {
		padding-bottom: 15px;
		&:not(:last-child) {
			margin-bottom: 15px;
			
		}
	}
	&__question {
		font-size: 20px;
		margin: 0;
		margin-bottom: 15px;
		cursor: pointer;
		transition: .3s;
		&::before {
			content: '';
			display: inline-block;
			margin-right: 15px;
			width: 25px;
			height: 20px;
			background: url(img/faq/faq-symbol.png) no-repeat center;
			background-size: contain;
		}
		&:hover {
			color: @yellow;
		}
	}
	&__answer {	
		display: none;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		p {			
			line-height: 24px;
			margin: 0;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding-left: 45px;
				position: relative;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
				&::before {
					content: '';
					display: block;
					width: 15px;
					height: 1px;
					background: @black;
					position: absolute;
					top: 11px;
					left: 15px;
				}
			}
		}
		ol {
			margin: 0;
			padding-left: 30px;
			margin-bottom: 30px;
			li {
				font-size: 14px;
				padding-left: 10px;
				margin-bottom: 15px;
				font-family: 'Open Sans', sans-serif;
			}
		}		
	}
}