@import "vendor.less";
@import "site-header.less";
@import "site-footer.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1100px)";

@black: #3b3b3d;
@white: #fff;
@yellow: #ffba2f;

.lcw {
	margin: 0 auto;	
	padding: 0 15px;
	@media @m {
		width: 100%;		
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1110px;		
	}	
}

body, input, textarea  {
	font-family: 'Roboto Slab', serif;
	color: @black;
}

.section-header {
	font-size: 30px;
	font-weight: bold;
	color: @yellow;
	@media @t {
		font-size: 45px;
	}
	@media @d {
		font-size: 60px;
	}
}

.features {	
	padding: 30px 0 15px;
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-bottom: 30px;
		@media @t {
			flex-basis: 50%;
			&:nth-child(odd) {
				padding-right: 15px;
			}
			&:nth-child(even) {
				padding-left: 15px;
			}			
		}
		@media @d {
			flex-basis: 25%;
			padding: 0 15px;
			&:nth-child(4n-3) {
				padding-left: 0;
			}
			&:nth-child(4n) {
				padding-right: 0;
			}
		}
	}
	&__inner {		
		color: @black;
		text-decoration: none;
	}
	&__header {
		margin: 0;
		padding-bottom: 15px;
		margin-bottom: 30px;
		position: relative;
		font-size: 24px;
		font-weight: normal;
		&::before {
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: @yellow;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 24px;
	}
}

.adv {
	&__container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-bottom: 50px;
		@media @t {
			flex-basis: 50%;
			&:nth-child(odd) {
				padding-right: 15px;
			}
			&:nth-child(even) {
				padding-left: 15px;
			}			
		}
		@media @d {
			flex-basis: 25%;
			padding: 0 15px;
			&:nth-child(4n-3) {
				padding-left: 0;
			}
			&:nth-child(4n) {
				padding-right: 0;
			}
		}			
		&:nth-child(1) {
			.adv__img {
				background-position: 0 3px;
			}			
		}
		&:nth-child(2) {
			.adv__img {
				background-position: -283px 3px;
			}			
		}
		&:nth-child(3) {
			.adv__img {
				background-position: -571px 3px;
			}			
		}
		&:nth-child(4) {
			.adv__img {
				background-position: -856px 3px;
			}			
		}		
	}
	&__circle {
		width: 180px;
		height: 180px;
		background: @yellow;		
		border-radius: 50%;
		margin-bottom: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		width: 80px;
		height: 80px;
		background: url(img/home/features-sprite.png) no-repeat;
	}
	&__header {
		margin: 0;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		font-weight: normal;
		font-size: 24px;
		&::before {
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: @yellow;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 24px;
	}
}